<div class="container">
  <h4>Internal server Error - refreshing the page will make the error disappear.</h4>
  <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you seeing this page then angular is probably not to blame</p>
    <ol>
      <li>open the chrome dev tools</li>
      <li>inspect the network tab</li>
      <li>check the failing request</li>
      <li>examine the request URL - make sure it is correct</li>
      <li>Reproduce error in Postman</li>
    </ol>
    <p>Following is the stack trace - this is where your investigation should start! </p>
    <code class="mt-5" style="background-color:whitesmoke;">{{error.details}}</code>
  </ng-container>
</div>
